/* Extra dimensions and attributes to modify bootstrap */


/* Extra background styling to modify bootstrap */


/* Extra font styling to modify bootstrap typography */
.font-extrasmall {
    font-size: 0.5em !important;
}

.font-small {
    font-size: 0.9em !important;
}

.font-medium {
    font-size: 1em !important;
}

.font-large {
    font-size: 3.5em !important;
}

.font-extralarge {
    font-size: 5em !important;
}